---
import Layout from "../components/Layout.astro";

import { getCollection } from "astro:content";

const bookmarklets = (await getCollection("bookmarklets")).reduce<
  Record<string, string>
>((acc, bm) => {
  acc[bm.id] = bm.data.code;
  return acc;
}, {});

const sections = (await getCollection("sections")).map((s) => ({
  ...s.data,
  content: s.data.content.map((bookmarklet) => ({
    ...bookmarklet,
    code: bookmarklets[`${s.id}/${bookmarklet.id}`] ?? "",
  })),
}));
---

<Layout title="Bookmarklets">
  <main>
    <h1>Bookmarklets</h1>

    <p class="explanation">
      Drag bookmarklet and drop it into bookmarks panel in your browser.<br />
      <a href="https://en.wikipedia.org/wiki/Bookmarklet"
        >What is bookmarklet?</a
      >
    </p>

    {
      sections.map((section) => (
        <section id={section.id}>
          <h2>{section.name}</h2>
          <dl>
            {section.content.map((bookmarklet) => (
              <>
                <dt>
                  <a class="bookmarklet" href={bookmarklet.code}>
                    {bookmarklet.name}
                  </a>
                  <button
                    class="copy"
                    type="button"
                    data-code={bookmarklet.code}
                    aria-label="Copy code"
                  >
                    Copy
                  </button>
                </dt>
                <dd>{bookmarklet.text}</dd>
              </>
            ))}
          </dl>
        </section>
      ))
    }
  </main>
  <script src="../script.js"></script>
</Layout>
